.Link {
  color: rgb(0, 73, 128);
  font-family: StratosSkyeng;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 18px;
}
